node_modules
**/node_modules

coverage
.vitest
**/build
build

test-results
**/test-results
playwright-report
**/playwright-report
dist
**/dist
treemaker
sessions

*.tsbuildinfo
.DS_Store

.codex
.gemini
**/.codex
.next
**/.next
*.env
**/.env
web/.env
web/.next/